# Project exclude paths
/.gradle/
/Coffee Machine Simulator with Java/task/build/
/Coffee Machine Simulator with Java/task/build/classes/java/main/
/Coffee Machine Simulator with Java/task/build/classes/java/test/